.quizCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: content-box;
    padding: 10px;
    padding-top: 0px;
    border-radius: 10px;
    background-color: var(--colour3, white);
    margin: 10px;
}

.progressDiv {
    margin-left: auto;
    /* width:100%; */
    text-align: right;
    padding-right: 5px;
}

.quizWord {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    aspect-ratio: 2/1;
}

.meaningsContainer {
    display: flex;
    width:100%;
    /* flex-wrap: wrap; */
    flex-direction: column;
    overflow-y:scroll;
    padding-top: 8px;
    padding-bottom: 8px;

    
}

.meaning {
    text-align:left;
    width:90%;
    padding-left: 10%;
    /* background-color: aqua; */
    border-radius: 15px;
    border-bottom: 1px solid lightgray;
}

.meaningsBtnContainer {
    display: flex;
    /* flex: 1; */
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.quizNextButton {
    width: 49%;
    border: 1px solid black;
    border-radius: 15px;
    height: 50px;
    margin: auto;
}

.meaningsButton {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    border-radius: 15px;
    margin: auto;
}