.quizCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: content-box;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--colour3, white);
    margin: 10px;
}

.quizWord {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    aspect-ratio: 2/1;
}

.meanings {
    display: flex;
    width:100%;
    flex-wrap: wrap;;
}

.meaning {
    text-align:left;
    width:100%;
    padding-left: 10%;
}

.meaningsBtnContainer {
    display: flex;
    /* flex: 1; */
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.quizNextButton {
    width: 49%;
    border: 1px solid black;
    border-radius: 15px;
    height: 50px;
    margin: auto;
}

.meaningsButton {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    border-radius: 15px;
    margin: auto;
}